form {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  background-color: rgb(255, 255, 255);
  width: 25rem;
  border: 2px solid #56be8e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: .5rem;   
}
form > div {
  margin: .5rem .5rem 0 .5rem; 
/*  border: 1px solid blue;*/
}
form > button {
  margin: .5rem; 
  padding: 0.25rem;
}
form > div:first-child {
  margin: 0;
  padding: .25rem;
  background-color: #56be8e;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
label {
  display: flex;
  border: 1px solid #424242;
  margin: 0 0 0.25rem 0;
  border-radius: 0.4rem;
  cursor: pointer;
}
label > div {
  flex: 1;
  padding: .25rem;
}
label > span {
  float: right;
  font-weight: bold;
  padding: .25rem;
}
input[type="radio"] {  
  display: none;
}

input[type="radio"]:checked ~ div { 
  background:#f9d5e5;
  border-radius: .4rem 0 0 .4rem;
}

input[type="radio"]:hover ~ div { 
  background: #ffeead;
  border-radius: .4rem 0 0 .4rem;
}

input[type="radio"]:checked ~ span { 
  background:#f9d5e5;
  border-radius: 0 .4rem .4rem 0;
}

input[type="radio"]:hover ~ span { 
  background: #ffeead;
  border-radius: 0 .4rem .4rem 0;
}

