.search-container {
  width: 25rem;
  margin: .5rem .5rem 0 .5rem;   
  display: inline-flex;  

	text-align: center;
}
.search-container > label { 
  width: 4.5rem;
  margin: 0.2rem;
}
.search-container > div {
  flex: 1;
  margin: 0.2rem 0.5rem 0.2rem 0.2rem;
}
.ask-ten-more {
  display: block;
  font-weight: bold; 
  position: relative;
  height: 100%;
  width: 100%;
}
.search-container > label:first-child {
  margin-left: 0.5rem;
}