.search-container {
  width: 25rem;
  margin: .5rem .5rem 0 .5rem;   
  display: inline-flex;  
	text-align: center;
}
.search-container > label { 
  width: 4.5rem;
  margin: .2rem;
}
.search-container > div {
  flex: 1;
  margin: .2rem .5rem .2rem .2rem;
}
.ask-ten-more {
  display: block;
  font-weight: bold; 
  height: 100%;
  width: 100%;
}
.search-container > label:first-child {
  margin-left: .5rem;
}